*{
    margin: 0;
    padding: 0;
}

div{
    height: 400px;
    width: 400px;
    background: rgb(156, 235, 9);
}

h1{
   position: absolute;
    text-transform: capitalize;
    margin: 300px 80px;
    color: #ffffff;
   visibility: hidden;
  }

  h2{
      text-align: center;
      position: absolute;
      margin: 200px 80px;
}

div:hover {
    background-image: url(./pics/IMG_20190222_191047\ -\ Copy.jpg);
    transition: .5s;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom  center;
   opacity: 1;
}

img{
    height: 400px;
    width: 300px;
}

div:hover h1{
    visibility: visible;
    transition: .5s;
    opacity: 1; 
}

div:hover h2{
    visibility: hidden;
}
/*.................................*/
